# Individual asset files, not in a sprite sheet
**ignore**

# Typescript definitions for IntelliSense
defs

# Environment files
.vscode
.gitpod.yml
.DS_STORE

# Dependencies and other modules
node_modules

# Built project
build
