#upgrade-shop {
    visibility: hidden;
    position: absolute;
    padding: 1%;
    top: 10%;
    bottom: 10%;
    left: 15%;
    right: 15%;
    background-color: burlywood;
    /* background-image: url(../free-use/PaperUIKit/SettingsBackground.png); */
    /* background-size: 99%; */
    /* background-repeat: no-repeat; */
    /* background-position: top left; */
    z-index: 1000;
    overflow-y: scroll;
    box-shadow: -1px 2px 15px -1px #000;
}

#ushop-content h3 {
    display: inline;
}

#ushop-content ul {
    list-style-type: none;
    padding-left: 0px;
}

#ushop-content li {
    background-color: #b19a69;
    border-radius: 10px;
}

#ushop-content li:nth-child(odd) {
    background-color: wheat;
}

#ushop-content p {
    text-align: left;
}

#ushop-content img {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

#ushop-content div {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    margin-left: 3%;
}

#ushop-content ul button {
    display: inline-block;
    vertical-align: middle;
    background-color: #2ecc71;
    color: #fff;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    padding: 3% 3%;
    margin: 2%;
}

.close {
    position: absolute;
    width: 10%;
    height: 10%;
    overflow: hidden;
    right: 0%;
    top: 0%;
}

.close img {
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.close button {
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}