/* Background pieces which do not contain game elements (typically regions
 * which were leftover from screen ratio not matching game ratio) are simply
 * filled in white.
 */
body {
    background: white;
    image-rendering: pixelated;
}

/* The only rule with the game object is that is should not be taller
 * than the viewport
 */
#game {
    max-height: 100vh;
}