/* Background pieces which do not contain game elements (typically regions
 * which were leftover from screen ratio not matching game ratio) are simply
 * filled in white.
 */
body {
    background: white;
    image-rendering: pixelated;
}

/* Canvas (games display) is centered (regardless of size) and scaled.
 * The square game will remain square on rectangular screens.
 */
/* canvas {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100vh;
    max-width: 100%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
} */

/* The only rule with the game object is that is should not be taller
 * than the viewport
 */
#game {
    max-height: 100vh;
}